/* CSS 선택자 */
/* 전체 선택자 */
* {
  background-color: #fcf;
}
/* 타입선택자, 태그선택자, 요소선택자 */
body {
  background-color: yellow;
  margin: 0;
}
h1 {
  margin: 0;
}
/* 클래스선택자 */
.lion {
  background-color: salmon;
}
/* 아이디선택자 */
#bootcamp {
  background-color: green;
}
/* 속성선택자 */
[title^='멋사'] {
  font-size: 24px;
}
/* 자손결합자 */
.frontend .lion {
  border: 5px solid blue;
}
/* 형제선택자, 형제결합자 */
h2 + p {
  font-weight: 900;
}
::selection {
  background-color: black;
  color: white;
}
h1::before {
  content: '웹표준 -';
}
h1::after {
  content: ' (멋사)';
}
/* 가상클래스 */
a {
  font-size: 48px;
}
a:hover {
  background-color: darkblue;
  color: white;
}
a:focus {
  background-color: red;
  color: white;
}
