.bootcapm {
  font-size: 0;
}

.school {
  background-color: #cff;
  width: 200px;
  height: 150px;
  overflow: scroll;
}

.frontend {
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-right-width: 1px;

  border-top-style: 1px;
  border-right-style: 1px;
  border-left-style: 1px;
  border-bottom-style: 1px;
  border-right-style: 1px;

  border-top-color: red;
  border-right-color: red;
  border-bottom-color: red;
  border-left-color: red;

  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding: 10px 20px 5px;
  padding: 10px 20px 30px 40px;

  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin: 10px 20px 5px;
  margin: 10px 20px 30px 40px;
}

.frontend span {
  display: block;
  background-color: #ffc;
}

.frontend p {
  display: inline;
  background-color: pink;
}

.bootcapm div,
.bootcapm p {
  font-size: 16px;
}
