@property --primary-color {
  syntax: '<color>';
  inherits: false;
  initial-value: rgb(4, 137, 59);
}

:root {
  --main-color: gray;
  --default-color: pink;
}

body {
  color: var(--primary-color);
}

.like {
  background-color: var(--bash-color, var(--default-color, red));
}

.wrapper {
  --default-color: yellow;
  --primary-color: red;

  color: var(--primary-color);
  margin-block: 20px;
  border: 1px solid var(--main-color);
  background: var(--default-color);

  .euid {
    color: var(--primary-color);
  }
}
