/* 색상 및 배경 */
/* color 속성 */
.like {
  color: red;
  color: #f00;
  color: rgba(255, 0, 0, 0.5);
  color: rgb(255 0 0 / 0.5);
  color: hsla(110, 50%, 20%, 0.5);
}

.wrapper {
  background-color: blue;
  padding: 5px;

  .euid {
    background-color: yellow;
  }
}

/* background-image / background-repeat / background-position */
.container {
  border: 1px solid red;
  margin-block: 20px;
  background-image: url(/src/assets/images/tree.png), url(/src/assets/images/cloud.png);
  background-repeat: no-repeat, no-repeat;
  background-size:
    contain,
    100px 50px;
  background-position:
    50% 0,
    70% 0;
}
.frontend {
  border: 4px solid blue;
  background-image: linear-gradient(red, green);
  border-radius: 20px;
}
