/* width, height */
.like {
  background: #ffc;
  block-size: 400px;
  inline-size: 100px;
}
.lion {
  background: #ffc;
  padding-block: 20px;
  margin-inline: 20px;
}
/* position:absolute, top, left, right, bottom */
.bootcamp {
  position: relative;
  background-color: #cff;
  inline-size: 300px;
  block-size: 100px;
  strong {
    position: absolute;
    background: #fcf;
    /* inset-inline-start: 0; */
    /* inset-inline-end: 0; */
    /* inset-block-end: 0; */
    /* inset-block-end: 0; */
    inset: 0;
  }
}

.frontend {
  background: #cff;
  strong {
    background: yellowgreen;
    float: inline-end;
  }
}
.euid {
  padding: 10px;
  background: salmon;
  border-block: 2px solid black;
}
