/* 영역 별 색상 */
div {
  background: var(--yellow);
  > div:nth-child(1) {
    background-color: var(--pink);
  }
  > div:nth-child(2) {
    background-color: var(--purple);
  }
  > div:nth-child(3) {
    background-color: var(--green);
  }
  > div:nth-child(4) {
    background-color: var(--blue);
  }
}

/* flex -flex-direction / order */
.like {
  padding: 0.5em;
  display: flex;
  flex-direction: row;

  div:nth-child(even) {
    order: -1;
  }
}

/* flex - flex-wrap, flex-flow */
.lion {
  display: flex;
  padding: 0.5em;
  inline-size: 600px;
  /* flex-direction: row-reverse; */
  /* flex-wrap: wrap; */
  flex-flow: wrap row-reverse;
  > div {
    inline-size: 150px;
  }
}

/* justify-content, align-item */
.euid {
  block-size: 200px;
  padding: 0.5em;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
}

/* align-content */
.frontend {
  display: flex;
  inline-size: 400px;
  block-size: 200px;
  flex-flow: wrap row;
  align-content: space-around;

  > div {
    inline-size: 200px;
  }
}

/* gap / low-gap /column-gap */
.bootcamp {
  display: flex;
  inline-size: 400px;
  flex-flow: wrap row;
  border: 1px solid black;
  /* padding: 1em; */
  column-gap: 20px;
  block-size: 200px;

  > div {
    inline-size: 200px;
  }

  .bootcamp-item1 {
    border: 1px solid red;
    align-self: center;
  }
}

/* flex, flex-grow, flex-srhink, flex-basis */
.school {
  display: flex;
  flex-flow: wrap row;
  inline-size: 600px;
  gap: 10px;

  > div {
    inline-size: 200px;
    flex: 1 0 auto;
  }

  /* > div {
    flex-basis: 0;
  }
  .school-item1 {
    flex-grow: 1;
  }
  .school-item2 {
    flex-grow: 2;
  }
  .school-item3 {
    flex-grow: 3;
  }
  .school-item4 {
    flex-grow: 4;
  } */
}
