/* 영역 별 색상 */
div {
  background: var(--yellow);
  > div:nth-child(1) {
    background-color: var(--pink);
  }
  > div:nth-child(2) {
    background-color: var(--purple);
  }
  > div:nth-child(3) {
    background-color: var(--green);
  }
  > div:nth-child(4) {
    background-color: var(--blue);
  }
}

/* flex -flex-direction / order */
.like {
  padding: 0.5em;
  display: flex;
  flex-direction: row;

  div:nth-child(even) {
    order: -1;
  }
}

/* flex - flex-wrap, flex-flow */
.lion {
  display: flex;
  padding: 0.5em;
  inline-size: 600px;
  /* flex-direction: row-reverse; */
  /* flex-wrap: wrap; */
  flex-flow: wrap row-reverse;
  > div {
    inline-size: 150px;
  }
}

/* justify-content, align-item */
.euid {
  block-size: 200px;
  padding: 0.5em;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
}
