/* isolation 속성 */
/* Cafe W 예시 */
.cafe-w {
  border: 10px solid currentColor;
  inline-size: 500px;
  block-size: 200px;
  position: relative;
  background: blue;
  isolation: isolate;

  .hero {
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 0.5;
  }

  .star {
    background: #fff;
    border-radius: 50%;
  }

  .text {
    background: yellow;
    padding: 1em;
  }
}

/* z index */
/* .euid {
  background-color: yellow;
  width: 500px;
  height: 100px;
  position: relative;

  .like {
    background-color: skyblue;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
  }
  .lion {
    background-color: orange;
    position: relative;
    z-index: 1;
  }
  .bootcamp {
    background-color: pink;
    position: relative;
    top: -5px;
    left: 10px;
  }
}
 */
