.avatar {
  --avatar-size: 64px;
  --state-size: 16px;
  --disable-color: #dbdbdb;
  --active-color: #4bfe88;
  --border-color: #fff;

  width: var(--avatar-size);
  height: var(--avatar-size);
  position: relative;

  img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }

  .avatar-state {
    position: absolute;
    right: 0;
    bottom: 0;
    width: calc(var(--state-size) / var(--avatar-size) * 100%);
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: var(--disable-color);
    border: 1px solid var(--border-color);
    position: absolute;
    right: 0;
    bottom: 0;

    &.is-online {
      background-color: var(--active-color);
    }
  }
}
