.searchbar {
  --green-100: #03cc5c;
  --green-200: #1bf008;
  --green-300: #03cca8;

  --gray-100: #bcc3c7;
  --gray-200: #9b9a90;
  --gray-300: #6d7478;

  display: flex;
  align-items: center;
  padding: 0px 20px;
  border-radius: 40px;
  border: 1px solid var(--green-100);
  .searchbar-form {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
  }
  .search-wrapper {
    display: contents;
    input {
      color: var(--gray-300);
      margin-inline-start: 10px;
      padding-block: 12px;
      width: 100%;
      height: 100%;
      border: none;
      &::placeholder {
        color: var(--gray-100);
      }
    }
  }
  .circle-gradient {
    --size: 24px;
    --start-color: var(--green-200, #1bf008);
    --end-color: var(--green-300, #03cca8);

    position: relative;
    border: none;
    background: linear-gradient(135deg, var(--start-color), var(--end-color));
    width: var(--size);
    aspect-ratio: 1/1;
    border-radius: 50%;
    padding: 0;

    &::before {
      --inner-size: calc(var(--size) / 3);

      content: '';
      position: absolute;
      width: var(--inner-size);
      aspect-ratio: 1/1;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: #fff;
      border-radius: inherit;
    }
  }
}
