/* 컴포넌트 */
/* float */
/* .notification {
  background: var(--yellow);
  padding: 20px;
  display: flow-root;

  svg {
    float: left;
  }

  div {
    box-shadow: 0 0 0 1px blue;
    float: left;
    margin-inline: 20px;
    width: calc(100% - 100px);
  }

  strong {
    color: #22be61;
    font-size: 18px;
    font-weight: 600;
  }

  p {
    color: #929b90;
    font-size: 14px;
    font-weight: 400;
  }

  time {
    box-shadow: 0 0 0 1px green;
    float: left;
    width: 32px;
    color: #22be61;
    font-size: 11px;
    font-weight: 700;
    text-align: right;
  }
} */

/* flex */
/* 컴포넌트 */
.notifications {
  display: flex;
  flex-flow: wrap row;
  gap: 20px;

  @media (width >= 400px) {
    background: var(--pink);
  }

  li {
    display: contents;
  }

  .notification {
    --green: #22be61;
    --gray: #929b90;
    --white: #fff;
    --black: #121212;
    --brown: #e3a368;
    --silver: #f9fefe;

    --point-color: var(--green);
    --text-color: var(--gray);
    --svg-path-color: var(--white);
    --spacing: 20px;

    width: 100%;
    box-shadow: 0 0 2px rgba(114 119 124 / 0.4);
    border: 1px solid var(--silver);
    background-color: var(--white);
    padding: var(--spacing);
    border-radius: 0.5rem;
    column-gap: var(--spacing);
    color: var(--point-color);

    @media (width >= 400px) {
      flex: 1 1 0;
    }

    strong {
      font-size: 18px;
      font-weight: 600;
      white-space: nowrap;
    }

    p {
      color: var(--text-color);
      font-size: 14px;
      font-weight: 400;
    }

    time {
      font-size: 11px;
      font-weight: 700;
      white-space: nowrap;
    }
  }
}
