/* 기본 스타일 */
.css {
  margin: 50px;

  a {
    text-decoration: none;
    color: inherit;
    display: block;
  }

  h1 {
    margin-block: 20px;
  }
}

body {
  font-family: 'SUIT Variable', sans-serif;
}

/* copy component */
.copy-component {
  display: flex;
  background: black;
  color: white;
  margin-block: 0.5em;
  padding: 0.5em 1em;
  border-radius: 4px;
}
/* copy component */
.copy-component {
  display: flex;
  background: black;
  color: white;
  margin-block: 0.5em;
  padding: 0.5em 1em;
  border-radius: 4px;
}
/* 컴포넌트 영역 스타일링 */
/* ui component */
.ui-component {
  border: 1px solid currentColor;
  margin-block-start: 0.5em;
  margin-block: 10px;
  padding: 10px;
}

/* copy component */
.copy-component {
  display: flex;
  background: black;
  color: white;
  margin-block: 0.5em;
  padding: 0.5em 1em;
  border-radius: 4px;
}
