/* 메인 페이지 스타일 */

body {
  min-height: 100vh;
  min-height: 100dvb;
  position: relative;
  background-image: url(../assets/ui/background-index.jpg);
  background-size: contain;

  color: #fff;

  .title {
    position: absolute;
    top: 17%;
    left: 50%;
    translate: -50% 0;
    font-size: 130px;
    color: #bcbcbc;
  }
  .container {
    display: flex;
    position: absolute;
    top: 55%;
    left: 50%;
    translate: -50% -50%;
    width: 70%;
    height: 60%;
    flex-flow: nowrap row;
    gap: 20px;

    &:has(:hover) {
      grid-template-columns: repeat(4, 1fr);
    }

    .card {
      border-radius: 20px;
      flex-grow: 1;
      flex-basis: 0;
      padding: 20px;
      background: linear-gradient(135deg, rgba(0, 0, 0, 0.7), rgba(22, 22, 22, 0.3) 20%);
      border: 1px solid rgba(90, 90, 90, 0.2);
      backdrop-filter: blur(10px);
      box-shadow: 0 4px 34px rgba(0, 0, 0, 0.15);
      transition: flex-grow 400ms ease-in-out;
      overflow: hidden;

      &:hover {
        flex-grow: 2;
      }
      ul {
        display: flex;
        flex-flow: nowrap column;
        gap: 10px;
        height: calc(100% - 40px);
        margin-top: 10px;
        overflow: auto;

        li {
          transition: opacity 200ms;
          color: #bcbcbc;

          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
}
